<div id="navegador">
    <h1>Tcell</h1>
    <hr>
    <div class="m-4">
        <nav class="nav">
            <a href="/" class="nav-item nav-link active">Inicio</a>
            <a href="/logueo" class="nav-item nav-link">Usuario</a>
            <a href="pepe.html" class="nav-item nav-link">administracion</a>
            <a href="cocoliso.html" class="nav-item nav-link">administracion</a>

        </nav>
    </div>

</div>