<div id="navegador">
       

            <img src="img/Tcell.png" alt="">

        
        
        
        <div class="m-4">
            <nav class="nav">
                <a href="/" class="nav-item nav-link active">Inicio</a>
                <a href="/logueo" class="nav-item nav-link">Usuario</a>
                <a href="/articles" class="nav-item nav-link">Articulos</a>
                <a href="" class="nav-item nav-link">Administracion</a>
                <a href="/factura" class="nav-item nav-link">Factura</a>
             
            </nav>
        </div>

    </div>