<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/factura.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <img src="/img/Tcell.png" alt="Tcell" id="img-tcell">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/factura">Factura</a></li>
                <li><a href="badges.html">Registro Artículo</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>




    <div id="panel">
        <h1>Facturación</h1>
        <strong>Fecha: {{date}}</strong>
        <hr>
        <div id="padre">

            <div id="input1">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">barcode_reader</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Código</label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div id="input2">

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">person_add</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Cliente</label>
                            </div>

                        </div>
                    </form>
                </div>

            </div>



        </div>

        <div id="check">
            <form action="#">
                <p>
                    <label>
                        <input name="group1" type="radio" checked />
                        <span style="font-size: 20px;">Contado</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" />
                        <span style="font-size: 20px;">Crédito</span>
                    </label>
                </p>


            </form>
        </div>


        <div id="text-area">

            <div class="form-group">
                <label id="text">Descripción</label>
                <textarea class="form-control" required></textarea>
            </div>

        </div>








        <div id="inputs">

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Buscar</label>
                        </div>

                    </div>
                </form>
            </div>

        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">



    </script>
</body>

</html>