img{
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0.2%;
    margin-top: 1%;
}

#navegador{
    background-color:  rgb(60, 57, 57);
    position: relative;
    height: 200px;
    margin-top: -1.5%;

    
    
}
.m-4{
    position: relative;
    font-size: 150%;
    left: 8%;
    top: 50%;
    width: 750px;
    
}


footer{
    margin-top: 30%;
}
